<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  </head>
<body>
    <!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 text-reset">
       <img src="https://cdn-icons-png.flaticon.com/128/5968/5968958.png" height="40px">
      </a>
      <a href="" class="me-4 text-reset">
          <img src="https://cdn-icons-png.flaticon.com/128/2111/2111463.png" height="30px">
        </a>
        <a href="" class="me-4 text-reset">
      <img
      src="https://banner2.cleanpng.com/20180712/jrc/aaw6si4mt.webp" height="30px"></a>
       
        
        
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fas fa-gem me-3"></i>Company name
            </h6>
            <p>
             Building a movie rating website involves creating a platform where users can rate and review movies, discover new ones based on ratings, and engage with a movie-loving community. Here’s a comprehensive overview of the key components and features of such a website:
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Products
            </h6>
            <p>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRKdkiG4aat7Bty4xJMxYAW16J4EqBiMbX3AA&s" width="20px">
              <a href="#!" class="text-reset">Angular</a>
            </p>
            <p>
              <img src="https://www.svgrepo.com/show/333604/spring-boot.svg" width="20px">
              <a href="#!" class="text-reset">Spring Boot</a>
            </p>
            <p>
              <img src="https://w7.pngwing.com/pngs/173/36/png-transparent-postgresql-logo-computer-software-database-open-source-s-text-head-snout.png" width="30px">
              <a href="#!" class="text-reset">Postgres SQL</a>
            </p>
            <p>
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7igSqURiatpcQXqwaoO276VzEbXwqnyKzvA&s" width="20px">
              <a href="#!" class="text-reset">Bootstrap</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">
              Useful links
            </h6>
            <p>
              <a href="#!" class="text-reset">Pricing</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Settings</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Orders</a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p><img src="https://cdn.iconscout.com/icon/premium/png-256-thumb/address-1483928-1255818.png?f=webp&w=256" height="20px"> PUNE, INDIA</p>
            <p>
            <img src="https://e7.pngegg.com/pngimages/909/295/png-clipart-mail-icon-computer-icons-envelope-drawing-white-envelope-miscellaneous-angle-thumbnail.png" height="20px">
              {{email}}
              
            </p>
            <p>
              <img src="https://i.pinimg.com/736x/b0/b4/41/b0b441a0cb8ee7d3af10e455708a3a19.jpg" height="20px">
              
               +91 932 288 7529</p>

          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
      © 2021 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">shubham</a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</body>
</html>