
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="head">
        <h1>Enter Artist Detail</h1>
    </div>
<div class="fm">
    <div class="fmin">
    <form [formGroup]="mydata" (submit)="sub(mydata)">
        <div  >
            <div class="pht">
                <img src="https://cdn-icons-png.flaticon.com/512/8847/8847419.png" *ngIf="photo==''">
                <img [src]="'data:image/jpeg;base64,' + photo.imageData" *ngIf="photo!=''">
            </div>
            <div class="lab">
                <label for="formFileLg" class="form-label">Actor Photo</label>
                <input class="form-control form-control-lg" accept="image/png, image/gif, image/jpeg" id="formFileLg" (change)="onFileSelected($event)" type="file">
                <p class="err" *ngIf="getImage.errors?.required && indicator">Upload Images*</p>
            
            </div>
        </div>
        <div class="lab">
            <label>Actor Name</label>
        </div>
        <div class="lab">
        <input type="text" placeholder="Enter Actor Name" formControlName="name">
        <p class="err" *ngIf="getName.errors?.required && indicator">Enter Name*</p>
        </div>
        <div class="lab">
            <label>country Name</label>
        </div>
        <div class="lab">
        <input type="text" placeholder="Enter country Name" formControlName="country">
        <p class="err" *ngIf="getCountry.errors?.required && indicator">Enter Country Name*</p>
        </div>
        <div class="lab">
            <label>City Name</label>
        </div>
        <div class="lab">
        <input type="text" placeholder="Enter City Name" formControlName="city">
        <p class="err" *ngIf="getCity.errors?.required && indicator">Enter City Name*</p>
        </div>
        <div class="lab">
            <label>Roles</label>
            <select class="form-select" aria-label="Default select example" formControlName="dta" (change)="onchangeSelect()">
                <option selected>Open this select ROLE</option>
                <option *ngFor="let i Of role">{{i}}</option>
               
              </select>
              <span *ngFor="let i Of mydata.value.artRole">{{i}},</span>
            
              <p class="err" *ngIf="getRole.errors?.required && indicator">Enter Role *</p>
        
        </div>
        <div class="lab">
        <label> Date of Birth date</label>
        </div>
        <div class="lab">
        <input type="date" formControlName="dob">
        <p class="err" *ngIf="getDob.errors?.required && indicator">Enter Date of Birth*</p>
        </div>
        <div class="lab" *ngIf="dide">
            <label> Date of Died</label>
            </div>
            <div class="lab" *ngIf="dide">
                
            <input type="date" formControlName="dod">
            <p class="err" *ngIf="getDob.errors?.required && indicator">Enter Date of Birth*</p>
            </div>
            <div class="lab">
                <label>Died</label>
                </div>
                <div class="lab">
                    
                <input type="checkbox" [(ngModel)]="isChecked"  (change)="checkBox()">
                <p class="err" *ngIf="getDob.errors?.required && indicator">Enter Date of Birth*</p>
                </div>
       
        <div class="lab">
       
            <label>About</label>
            <div>
                <textarea rows="6" formControlName="about" placeholder="Enter About"></textarea>
                <p class="err" *ngIf="getAbout.errors?.required && indicator">Enter About *</p>
        
            </div>
            <div class="lab">
 
                <button type="submit" class="btn btn-info">Submit</button>
             </div>
        </div>   
            
    </form>
    </div>
    </div>
   
 <br>

</body>
</html>
