
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="head">
        <h1>Login</h1>
    </div>
<div class="fm">
    <div class="fmin">
    <form [formGroup]="mydata" (submit)="sub(mydata)">
        <div class="lab">
            <label>UserName</label>
        </div>
        <div class="lab">
        <input type="text" placeholder="Enter Email" formControlName="email">
        <p class="err" *ngIf="getEmail.errors?.required">Email Required*</p>
        <p class="err" *ngIf="getEmail.errors?.email">Enter valid Email*</p>
        </div>
        
        <div class="lab">
            <label>Password</label>
        </div>
        <div class="lab">
        <input type="password" placeholder="Enter Password" formControlName="password">
        <p class="err" *ngIf="getPassword.errors?.required">Password Required*</p>
        </div>
       
        <div class="lab">
       
           
          
            <div class="lab">
 
                <button type="submit">Submit</button>
               
             </div>
             <div>
                <button type="button" (click)="create()">Create user</button>
             </div>
        </div>
     
      
    </form>
    </div>
    </div>

 <br>

</body>
</html>
