
<p >
  {{arry(count)}}

</p>
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators"  >
      <li data-target="#carouselExampleIndicators"   class="active" ></li>
      <li *ngFor="let i Of num" data-target="#carouselExampleIndicators"  ></li>
      
      
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img class="d-block w-100"  [src]="'data:image/jpeg;base64,'+data[0].widePoster.imageData" alt="First slide">
      </div>
      <div class="carousel-item" *ngFor="let i Of num">
        <img   class="d-block w-100" [src]="'data:image/jpeg;base64,'+data[i].widePoster.imageData" alt="Second slide">
      </div>
      
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
   
  </div>
 



 
 
  