<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
</head>
<body>
    <div class="head">
        <h1>Rating </h1>
    </div>
<div class="fm">
    <div class="fmin">
    <form>
  
        <div class="lab">
        <label for="rating">Rating</label>
    </div>

        <div class="rating">
          <label for="radio-1" aria-label="Rating 1"><input type="radio" name="rating" id="radio-1" class="sr-only"
              value="1" formControlName="rating" /></label>
          <label for="radio-2" aria-label="Rating 2"><input type="radio" name="rating" id="radio-2" class="sr-only"
              value="2" formControlName="rating" /></label>
          <label for="radio-3" aria-label="Rating 3"><input type="radio" name="rating" id="radio-3" class="sr-only"
              value="3" formControlName="rating" /></label>
          <label for="radio-4" aria-label="Rating 4"><input type="radio" name="rating" id="radio-4" class="sr-only"
              value="4" formControlName="rating" /></label>
          <label for="radio-5" aria-label="Rating 5"><input type="radio" name="rating" id="radio-5" class="sr-only"
              value="5" formControlName="rating" /></label>
        </div>


        <div class="lab">
            <label for="rating">Rating</label>
        </div>
    
            <div class="rating">
              <label for="radio-1" aria-label="Rating 1"><input type="radio" name="rating" id="radio-1" class="sr-only"
                  value="1" formControlName="rating" /></label>
              <label for="radio-2" aria-label="Rating 2"><input type="radio" name="rating" id="radio-2" class="sr-only"
                  value="2" formControlName="rating" /></label>
              <label for="radio-3" aria-label="Rating 3"><input type="radio" name="rating" id="radio-3" class="sr-only"
                  value="3" formControlName="rating" /></label>
              <label for="radio-4" aria-label="Rating 4"><input type="radio" name="rating" id="radio-4" class="sr-only"
                  value="4" formControlName="rating" /></label>
              <label for="radio-5" aria-label="Rating 5"><input type="radio" name="rating" id="radio-5" class="sr-only"
                  value="5" formControlName="rating" /></label>
            </div>


            <div class="lab">
                <label for="rating">Rating</label>
            </div>
        
                <div class="rating">
                  <label for="radio-1" aria-label="Rating 1"><input type="radio" name="rating" id="radio-1" class="sr-only"
                      value="1" formControlName="rating" /></label>
                  <label for="radio-2" aria-label="Rating 2"><input type="radio" name="rating" id="radio-2" class="sr-only"
                      value="2" formControlName="rating" /></label>
                  <label for="radio-3" aria-label="Rating 3"><input type="radio" name="rating" id="radio-3" class="sr-only"
                      value="3" formControlName="rating" /></label>
                  <label for="radio-4" aria-label="Rating 4"><input type="radio" name="rating" id="radio-4" class="sr-only"
                      value="4" formControlName="rating" /></label>
                  <label for="radio-5" aria-label="Rating 5"><input type="radio" name="rating" id="radio-5" class="sr-only"
                      value="5" formControlName="rating" /></label>
                </div>


                <div class="lab">
                    <label for="rating">Rating</label>
                </div>
            
                    <div class="rating">
                      <label for="radio-1" aria-label="Rating 1"><input type="radio" name="rating" id="radio-1" class="sr-only"
                          value="1" formControlName="rating" /></label>
                      <label for="radio-2" aria-label="Rating 2"><input type="radio" name="rating" id="radio-2" class="sr-only"
                          value="2" formControlName="rating" /></label>
                      <label for="radio-3" aria-label="Rating 3"><input type="radio" name="rating" id="radio-3" class="sr-only"
                          value="3" formControlName="rating" /></label>
                      <label for="radio-4" aria-label="Rating 4"><input type="radio" name="rating" id="radio-4" class="sr-only"
                          value="4" formControlName="rating" /></label>
                      <label for="radio-5" aria-label="Rating 5"><input type="radio" name="rating" id="radio-5" class="sr-only"
                          value="5" formControlName="rating" /></label>
                    </div>
     <div>
        <button type="submit">Submit</button>
     </div>
      
    </form>
    </div>
    </div>
   
</body>
</html>
