*{
    color: aliceblue;
    background-color: rgb(53, 52, 52);
    height: 320px;
}
div.scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  
  div.scroll-container img {
    padding: 10px;
  }
  img{
    margin-left: 2px;
    height: 300px;
    width: 300px;
    border-radius: 50%;
  }