*{
    color: aliceblue;
    background-color: rgb(53, 52, 52);
    height: 100%;
}
div.scroll-container {
  margin-top: 0%;
    background-color: #333;
    overflow: auto;
    white-space: nowrap;

  }
  
  div.scroll-container img {
    margin-top: 0%;
    padding: 10px;
  }
  img{
   
    padding:0%;
    margin-left: 1%;
    margin-right: 90px;
    height: 400px;
    width: 400px;
    border-radius: 50%;
  }