.img-scroll{
     background-color: black;
}

.mv{
    background-color: rgb(35, 32, 32);
}
.actor{
    margin-top: 2%;
}
.login{
    position: sticky;
	top: 0%;
	right: 0%;
}
.par{
position: relative;
}